// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$primary: #5656ea;
$secondary: #B9F4BC;
$secondary-accent: #D6FCD6;
$off-black: rgba(0,0,0,0.8);
$background: rgb(255,255,255);

$warning: #ED5F5B;
$info: #88ea8c;
