<div data-controller="signup" class="-form">
  <div class="progress-bar-container">
    <div class="progress-bar"></div>
    <div class="progress-bar"></div>
    <div class="progress-bar"></div>
    <div data-target="signup.progressBar" class="progress-bar-4"></div>
    <div class="progress-bar-dot"></div>
  </div>
  <%= form_tag(awesome_llama_5_path, method: 'post') do %>
    <%= hidden_field_tag 'hex', params[:hex] %>
    <%= hidden_field_tag 'keyword', params[:keyword] %>
    <%= hidden_field_tag 'frequency', params[:frequency] %>
    <!-- News Sources -->
    <div data-target="signup.formContainer" class="animated fadeInLeft">
      <p class="fs-1_5em">Almost there! What news sources do you want to follow?</p>
      <fieldset class="form-group check_boxes optional news_feed_news_sources">
        <legend class="hide">News sources</legend>
        <input type="hidden" name="news_feed[news_source_ids][]" value="" />

        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="1" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_1" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_1"><span>ABC News</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="2" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_2" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_2"><span>Al Jazeera English</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="3" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_3" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_3"><span>Ars Technica</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="4" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_4" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_4"><span>Associated Press</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="5" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_5" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_5"><span>Axios</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="6" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_6" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_6"><span>Bleacher Report</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="7" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_7" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_7"><span>Bloomberg</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="8" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_8" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_8"><span>Breitbart News</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="9" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_9" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_9"><span>Business Insider</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="10" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_10" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_10"><span>Buzzfeed</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="11" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_11" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_11"><span>CBS News</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="12" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_12" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_12"><span>CNBC</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="13" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_13" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_13"><span>CNN</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="14" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_14" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_14"><span>Crypto Coins News</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="15" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_15" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_15"><span>Engadget</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="16" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_16" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_16"><span>Entertainment Weekly</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="17" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_17" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_17"><span>ESPN</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="18" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_18" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_18"><span>ESPN Cric Info</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="19" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_19" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_19"><span>Fortune</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="20" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_20" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_20"><span>Fox News</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="21" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_21" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_21"><span>Fox Sports</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="22" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_22" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_22"><span>Google News</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="23" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_23" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_23"><span>Hacker News</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="24" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_24" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_24"><span>IGN</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="25" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_25" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_25"><span>Mashable</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="26" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_26" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_26"><span>Medical News Today</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="27" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_27" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_27"><span>MSNBC</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="28" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_28" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_28"><span>MTV News</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="29" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_29" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_29"><span>National Geographic</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="30" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_30" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_30"><span>National Review</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="31" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_31" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_31"><span>NBC News</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="32" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_32" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_32"><span>New Scientist</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="33" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_33" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_33"><span>Newsweek</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="34" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_34" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_34"><span>New York Magazine</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="35" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_35" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_35"><span>Next Big Future</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="36" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_36" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_36"><span>NFL News</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="37" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_37" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_37"><span>NHL News</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="38" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_38" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_38"><span>Politico</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="39" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_39" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_39"><span>Polygon</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="40" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_40" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_40"><span>Recode</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="41" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_41" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_41"><span>Reddit /r/all</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="42" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_42" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_42"><span>Reuters</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="43" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_43" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_43"><span>TechCrunch</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="44" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_44" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_44"><span>TechRadar</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="45" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_45" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_45"><span>The American Conservative</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="46" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_46" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_46"><span>The Hill</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="47" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_47" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_47"><span>The Huffington Post</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="48" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_48" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_48"><span>The New York Times</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="49" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_49" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_49"><span>The Next Web</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="50" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_50" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_50"><span>The Verge</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="51" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_51" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_51"><span>The Wall Street Journal</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="52" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_52" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_52"><span>The Washington Post</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="53" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_53" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_53"><span>The Washington Times</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="54" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_54" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_54"><span>Time</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="55" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_55" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_55"><span>USA Today</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="56" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_56" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_56"><span>Vice News</span></label>
        </div>
        <div class="form-check">
          <input class="winnow-radio-btn" type="checkbox" value="57" name="news_feed[news_source_ids][]" id="news_feed_news_source_ids_57" />
          <label class="winnow-radio-btn-label" for="news_feed_news_source_ids_57"><span>Wired</span></label>
        </div>
      </fieldset>
      <button type="submit" class="btn btn-winnow enter-on-click" id="submitSourcesBtn" data-action="click->signup#submitSources">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
    <!-- end news sources -->
  <% end %>
</div>
