<div data-controller="signup" class="-form">
  <div class="progress-bar-container opactiy-0">
    <div class="progress-bar-1"></div>
    <div class="progress-bar-2"></div>
    <div class="progress-bar-3"></div>
    <div class="progress-bar-4"></div>
    <div class="progress-bar-dot"></div>
  </div>
  <%= form_tag(awesome_llama_1_path, method: "post", data: { target: 'signup.form' }) do %>
    <!-- Email -->
    <div data-target="signup.formContainer">
      <p class="fs-1_5em">Save time and let our llamas scour the lastest headlines, whittling down the news, to get you the information you care about.</p>
      <div>
        <%= email_field_tag 'email', nil, placeholder: "youremail@gmail.com", autocomplete: "email", class: 'winnow-text-input' %>
        <button data-action="click->signup#submitEmail" class="btn btn-winnow">
          Sign Up
        </button>
      </div>

    </div>
    <!-- end email -->
  <% end %>
</div>
