<div data-controller="signup" class="-form">
  <div class="progress-bar-container">
    <div class="progress-bar"></div>
    <div class="progress-bar"></div>
    <div data-target="signup.progressBar" class="progress-bar-3"></div>
    <div class="progress-bar-4"></div>
    <div class="progress-bar-dot"></div>
  </div>
  <%= form_tag(awesome_llama_4_path, method: 'post', data: { target: 'signup.form' }) do %>
    <%= hidden_field_tag 'hex', params[:hex] %>
    <%= hidden_field_tag 'keyword', params[:keyword] %>
    <!-- Frequency -->
    <div data-target="signup.formContainer" class="animated fadeInLeft">
      <p class="fs-1_5em">How often would you like to receive emails?</p>
      <div>
        <input type="radio" class="winnow-radio-btn" id="daily" name="frequency" value="daily"
               checked>
        <label class="winnow-radio-btn-label" for="daily"><span>daily</span></label>
        <div class="boolean-check"><i class="fas fa-check-circle"></i></div>
      </div>
      <div>
        <input type="radio" class="winnow-radio-btn" id="weekly" name="frequency" value="weekly">
        <label class="winnow-radio-btn-label" for="weekly"><span>weekly</span></label>
        <div class="boolean-check"><i class="fas fa-check-circle"></i></div>
      </div>
      <div>
        <input type="radio" class="winnow-radio-btn" id="monthly" name="frequency" value="monthly">
        <label class="winnow-radio-btn-label" for="monthly"><span>monthly</span></label>
        <div class="boolean-check"><i class="fas fa-check-circle"></i></div>
      </div>
      <br>
      <button type="submit" class="btn btn-winnow enter-on-click margin-top-12-5px"
      id="submitFrequencyBtn" data-action="click->signup#submitFrequency">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
    <!-- end frequency -->
  <% end %>
</div>
