<div data-controller="signup" class="winnow-center-stage-form">
  <div data-target="signup.progressBarContainer" class="progress-bar-container">
    <div data-target="signup.progressBarOne" class="progress-bar-1"></div>
    <div data-target="signup.progressBarTwo" class="progress-bar-2"></div>
    <div data-target="signup.progressBarThree" class="progress-bar-3"></div>
    <div data-target="signup.progressBarFour" class="progress-bar-4"></div>
  </div>
  <%= form_tag(awesome_llama_path, method: "post") do %>
    <!-- Email -->
    <div data-target="signup.emailContainer" class='z-index-1 winnow-center-stage'>
      <p class="fs-1_5em">Save time and let our llamas scower the lastest headlines, widdling down the news, to get you the information you care about.</p>
      <div>
        <%= text_field_tag 'email', nil, placeholder: "youremail@gmail.com", autocomplete: "email", class: 'winnow-text-input' %>
        <button data-action="click->signup#submitEmail" class="btn btn-winnow">
          Sign Up
        </button>
      </div>

    </div>
    <!-- end email -->
    <!-- Password -->
    <div data-target="signup.passwordContainer" class="hide z-index-2 winnow-center-stage">
      <p class="fs-1_5em">Let's get you a password <small>(6-20 characters)</small></p>
      <%= password_field 'password', 'secret', size: 20, placeholder: "cleverpassword", autocomplete: "password", class: 'winnow-text-input', id: 'inputPassword' %>
      <button data-action="click->signup#submitPassword" id="submitPasswordBtn" class="btn btn-winnow">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
    <!-- end password -->
    <!-- Make your first llama -->
    <div data-target="signup.keywordContainer" class="hide z-index-3 winnow-center-stage">
      <p class="fs-1_5em">What news are you interested in? (Enter a keyword)</p>
      <%= text_field_tag 'keyword', nil, placeholder: "south china sea", class: 'winnow-text-input',
          id: 'inputKeyword' %>
      <button data-action="click->signup#submitKeyword" class="btn btn-winnow">
        <i class="fas fa-arrow-right"></i>
      </button>
      <button class="btn btn-winnow" data-action="click->signup#submitKeyword">OK</button>
    </div>

  <% end %>
</div>
