<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2><%= @sources.length %> articles found: </h2>
<ul>
  <% @sources.each do |source| %>
    <li>
      <h4><%= link_to source.name, source.url %></h4>
      <p><%= source.description %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Powered by NewsAPI.org", "https://newsapi.org/" , target: "_blank" %>
