/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  padding: 5px;
  position: fixed;
  top: 65px;
  width: 100%;
  left: 0;
  margin: 0;
  text-align: center;
}
.alert-info {
  background: $secondary-accent;
  color: rgb(105,105,105);
}
.alert-warning {
  background: $warning;
  color: rgb(255,255,255);
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .alert {
    max-width: 700px;
    left: inherit;
  }
}
