.home-header {
  height: 0px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  margin-left: -5px;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
}
.home-header h1 {
  z-index: 3;
}
.home-header-background {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 4px;
  height: 26px;
  width: 0%;
  z-index: 2;
  background-color: $secondary;
}
.home-header:hover > .home-header-background {
  width: 100%;
  transition: 0.5s ease-in-out;
}
