.layout-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 15px;
}
.main-container {
  margin: auto;
  width: 100vw;
}
body {
  background-color: rgb(252,252,252);
}
h1, h2, h3, h4, h5, h6 {
  color: $primary;
}
p {
  font-weight: 300;
}
a:hover {
  text-decoration: none;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .layout-container {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .layout-container {
    max-width: 700px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .main-container {
    max-width: 800px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  // .layout-container {

  // }
}
