.bg-primary {
  background-color: $primary;
}
.color-primary {
 color: $primary
}

.bg-secondary {
  background-color: $secondary;
}
.color-secondary {
 color: $secondary
}

.bg-secondary-accent {
  background-color: $secondary-accent;
}
.color-secondary-accent {
 color: $secondary-accent
}

.bg-off-black {
  background-color: $off-black;
}
.color-off-black {
 color: $off-black
}
