<div class="main-container">
  <div class="flex-box">
    <h3 class="test">Llamas</h1>
    </div>
    <div>Create a news llama</div>
  </div>
  <div class="main-content">
    <ul>
      <% @news_feeds.each do |parser| %>
          <li>
            <div class="js-toggle-button"><h5><%= parser.keyword %></h5>
              <div class="toggle-area" style="display: none;">wooooooooooooooo</div>
            </div>
          </li>
      <% end %>
      <% if @news_feeds.empty? %>
        <p>You have no llamas yet, create one!</p>
      <% end %>
    </ul>
  </div>
</div>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, ab dicta illo. Vel sequi qui repudiandae nesciunt animi in alias placeat ea rerum aspernatur ipsa voluptate iure, explicabo praesentium, ullam dolor architecto, nemo, ad nam quis vero! Ducimus a fuga ipsam omnis tenetur neque beatae, quae exercitationem culpa, similique unde possimus voluptatem quod consectetur, laborum inventore quos dolores! Voluptates molestias error velit quisquam veniam accusantium voluptas dolor pariatur, distinctio, totam sint inventore eaque labore voluptatum ut maxime soluta quaerat consectetur similique debitis. Dolorum quidem id nam, optio vel provident! Dolores voluptatum obcaecati quisquam laboriosam corrupti accusantium ea recusandae optio aperiam soluta, ad nisi provident iure illo, quia! Vero quaerat, officia ex ipsa tempore reiciendis nesciunt autem officiis inventore odit necessitatibus, quidem illum quibusdam error ad. Doloribus excepturi impedit maxime magni libero ullam dolores veniam laboriosam, deserunt fuga deleniti quis sequi sit voluptatum natus, rem, nobis reiciendis unde nihil dicta. Delectus quia, placeat natus porro esse modi minus maxime necessitatibus nulla error tenetur, tempore quas id quam! Inventore, laudantium, officiis. Numquam doloribus sapiente magni esse illum vero necessitatibus cumque dolorum itaque expedita quis eligendi, corporis nobis ratione totam. Atque iusto libero aut id repudiandae harum recusandae deleniti veritatis dolorem accusantium iste officiis magni adipisci dignissimos fugit dolorum optio voluptatem, asperiores animi, aspernatur possimus molestias temporibus fuga. Harum, suscipit praesentium? Eius enim sapiente quasi amet earum modi, aliquid molestiae similique vitae natus qui quod ipsam deserunt, velit quo praesentium maiores vero quas magni dolores sint doloremque! Tenetur, asperiores, veritatis. Ut atque dolorem corporis quaerat accusantium earum animi voluptas aperiam mollitia velit asperiores dolore, blanditiis in ad? Molestiae eligendi dolore architecto excepturi consequatur aut maiores debitis. Earum possimus, iste explicabo aliquam, quos velit. Officia optio dicta ipsam corrupti incidunt, libero repellat, consequatur soluta, aperiam modi assumenda voluptatibus sint deleniti ipsa ut harum nisi tempore suscipit voluptas labore! Quidem ut ipsum, at molestias temporibus voluptatibus ea nam quae doloremque odio consequatur non necessitatibus est impedit ratione aut reiciendis quaerat consectetur quibusdam, tempora illum placeat? Ipsum tenetur, eos dolore perferendis. Culpa consectetur ea quia corrupti aspernatur numquam reprehenderit dignissimos expedita excepturi quam, sunt porro nemo tempore aliquam illum sapiente alias, mollitia eum et iusto blanditiis officia praesentium quidem aliquid architecto. Minus laudantium sit repudiandae nemo omnis eligendi accusantium sequi sint est asperiores eius ipsa esse quasi debitis maxime neque, explicabo vero deserunt facilis corporis. Nobis illum nihil minus quasi ipsa soluta, dolorem qui nisi delectus quis maiores vel, quia odit! Rem assumenda dicta eaque voluptate exercitationem possimus dolorum laborum. Impedit, non! Atque expedita blanditiis fuga ipsa voluptate, quaerat dolorum vero voluptatem labore fugit dolore impedit ut aperiam quia soluta possimus, neque, quo eos inventore magnam rerum at sed. Rem suscipit libero laborum quisquam corrupti eos consequuntur accusantium repellat necessitatibus veniam nostrum nesciunt eligendi veritatis ullam est cupiditate nobis maiores dolores odit, provident non expedita beatae fugit. Temporibus ad inventore dolores! Fuga iure ullam atque quia perspiciatis voluptatibus cum aliquid voluptate quasi, tenetur eum dolores, itaque rem deserunt similique. Nulla perferendis esse, ipsum suscipit quisquam nisi.
