<div class="main-container">
  <div class="flex-box">
    <h3 class="test">Parsers</h1>
    </div>
    <div>Create a new parser</div>
  </div>
  <div class="main-content">
    <table>
      <%= @news_feeds.each do |news_feed| %>
        <tr>
          <td><%= news_feed.keyword %></td>
          <td><%= news_feed.frequency %></td>
          <td><%= news_feed.sources %></td>
        </tr>
      <% end %>
      <% if @news_feeds.empty? %>
        <p>You have no parsers.</p>
        <a href="#">Create your first one.</a>
      <% end %>
    </table>
  </div>
</div>
