<div class="main-container">
  <div class="flex-box">
    <h1 class="test">Llamas</h1>
    </div>
    <div>Create a news llama</div>
  </div>
  <div class="main-content">
    <ul>
      <% @news_feeds.each do |parser| %>
          <li>
            <div class="js-toggle-button"><h5><%= parser.keyword %></h5>
              <div class="toggle-area" style="display: none;">wooooooooooooooo</div>
            </div>
          </li>
      <% end %>
      <% if @news_feeds.empty? %>
        <p>You have no llamas yet, create one!</p>
      <% end %>
    </ul>
  </div>
</div>
